{{- $dir := .Get "dir" -}}
{{- $images := resources.Match (printf "%s/*" $dir) -}}
<div class="photo-gallery">
  {{- range $images -}}
    {{- $filename := path.Base .Name -}}
    {{- if not (hasPrefix $filename ".") -}}
    {{- $thumb := .Resize "800x webp" -}}
    {{- $full  := .Resize "1920x webp" -}}
    {{- $base := strings.TrimSuffix (path.Ext $filename) $filename -}}
    {{- $noPrefix := replaceRE "^[0-9]+" "" $base -}}
    {{- $trimmed := strings.Trim $noPrefix "_" -}}
    {{- $caption := replace $trimmed "_" " " -}}
    <figure class="gallery-item">
      <button class="lb-trigger" data-src="{{ $full.RelPermalink }}" data-caption="{{ $caption }}" aria-label="View larger image">
        <img src="{{ $thumb.RelPermalink }}" alt="{{ $caption }}" loading="lazy">
      </button>
    </figure>
    {{- end -}}
  {{- end -}}
</div>
