{{- $dir := .Get "dir" -}}
{{- $images := resources.Match (printf "%s/*" $dir) -}}
{{- $year := .Page.Date.Format "2006" -}}
{{- $copyright := printf "© %s Stephen Masters" $year -}}
{{- $font := resources.Get "fonts/watermark.ttf" -}}
<div class="photo-gallery">
  {{- range $images -}}
    {{- $filename := path.Base .Name -}}
    {{- if not (hasPrefix $filename ".") -}}
    {{- $thumb := .Resize "800x webp" -}}
    {{- $fullBase := .Resize "1920x webp" -}}
    {{- $wmX := sub $fullBase.Width 260 -}}
    {{- $wmY := sub $fullBase.Height 26 -}}
    {{- $wmShadow := images.Text $copyright (dict "color" "#000000cc" "size" 16 "font" $font "x" (add $wmX 1) "y" (add $wmY 1)) -}}
    {{- $wmText := images.Text $copyright (dict "color" "#ffffff" "size" 16 "font" $font "x" $wmX "y" $wmY) -}}
    {{- $full := $fullBase | images.Filter $wmShadow $wmText -}}
    {{- $base := strings.TrimSuffix (path.Ext $filename) $filename -}}
    {{- $noPrefix := replaceRE "^[0-9]+" "" $base -}}
    {{- $trimmed := strings.Trim $noPrefix "_" -}}
    {{- $caption := replace $trimmed "_" " " -}}
    <figure class="gallery-item">
      <button class="lb-trigger" data-src="{{ $full.RelPermalink }}" data-caption="{{ $caption }}" aria-label="View larger image">
        <img src="{{ $thumb.RelPermalink }}" alt="{{ $caption }}" loading="lazy">
      </button>
    </figure>
    {{- end -}}
  {{- end -}}
</div>
