{{- $gpxFiles := .Page.Resources.Match "*.gpx" -}}
{{- $dir := .Get "gallery" -}}
{{- $photoUrls := slice -}}
{{- if $dir -}}
  {{- $files := readDir (printf "static/%s" $dir) -}}
  {{- range $files -}}
    {{- if not (hasPrefix .Name ".") -}}
      {{- $photoUrls = $photoUrls | append (printf "/%s/%s" $dir .Name) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if or $gpxFiles $photoUrls -}}
  {{- $urls := slice -}}
  {{- range $gpxFiles -}}
    {{- $urls = $urls | append .RelPermalink -}}
  {{- end -}}
  <div class="gpx-block">
    <div class="gpx-map"{{- with $urls }} data-gpx-files="{{ delimit . "|" }}"{{- end }}{{- with $photoUrls }} data-photos="{{ delimit . "|" }}"{{- end }}></div>
    {{- with $gpxFiles -}}
    <div class="gpx-download">
      {{- range $i, $f := $gpxFiles -}}
        {{- $label := "Download GPX" -}}
        {{- if gt (len $gpxFiles) 1 -}}
          {{- $label = printf "Download GPX (%d of %d)" (add $i 1) (len $gpxFiles) -}}
        {{- end -}}
        <a href="{{ $f.RelPermalink }}" download="{{ $f.Name }}" class="gpx-download-link">↓ {{ $label }}</a>
      {{- end -}}
    </div>
    {{- end -}}
  </div>
{{- end -}}
